.bs-docs-section
    .page-header
        .row
            .col-lg-12
                h1#buttons #{t['Buttons']}
    .row
        .col-lg-6
            p.bs-component
                a.btn.btn-default(href="#") #{t['Default']}
                | &nbsp;
                a.btn.btn-primary(href="#") #{t['Primary']}
                | &nbsp;
                a.btn.btn-success(href="#") #{t['Success']}
                | &nbsp;
                a.btn.btn-info(href="#") #{t['Info']}
                | &nbsp;
                a.btn.btn-warning(href="#") #{t['Warning']}
                | &nbsp;
                a.btn.btn-danger(href="#") #{t['Danger']}
                | &nbsp;
                a.btn.btn-link(href="#") #{t['Link']}
            p.bs-component
                a.btn.btn-default.disabled(href="#") #{t['Default']}
                | &nbsp;
                a.btn.btn-primary.disabled(href="#") #{t['Primary']}
                | &nbsp;
                a.btn.btn-success.disabled(href="#") #{t['Success']}
                | &nbsp;
                a.btn.btn-info.disabled(href="#") #{t['Info']}
                | &nbsp;
                a.btn.btn-warning.disabled(href="#") #{t['Warning']}
                | &nbsp;
                a.btn.btn-danger.disabled(href="#") #{t['Danger']}
                | &nbsp;
                a.btn.btn-link.disabled(href="#") #{t['Link']}

            div(style="margin-bottom: 15px;")
                .btn-toolbar.bs-component(style="margin: 0;")
                    .btn-group
                        a.btn.btn-default(href="#") #{t['Default']}
                        a.btn.btn-default.dropdown-toggle(href="#", data-toggle="dropdown")
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#") #{t['Action']}
                            li
                                a(href="#") #{t['Another action']}
                            li
                                a(href="#") #{t['Something else here']}
                            li.divider
                            li
                                a(href="#") #{t['Separated link']}
                    .btn-group
                        a.btn.btn-primary(href="#") #{t['Primary']}
                        a.btn.btn-primary.dropdown-toggle(href="#", data-toggle="dropdown")
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#") #{t['Action']}
                            li
                                a(href="#") #{t['Another action']}
                            li
                                a(href="#") #{t['Something else here']}
                            li.divider
                            li
                                a(href="#") #{t['Separated link']}
                    .btn-group
                        a.btn.btn-success(href="#") #{t['Success']}
                        a.btn.btn-success.dropdown-toggle(href="#", data-toggle="dropdown")
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#") #{t['Action']}
                            li
                                a(href="#") #{t['Another action']}
                            li
                                a(href="#") #{t['Something else here']}
                            li.divider
                            li
                                a(href="#") #{t['Separated link']}
                    .btn-group
                        a.btn.btn-info(href="#") #{t['Info']}
                        a.btn.btn-info.dropdown-toggle(href="#", data-toggle="dropdown")
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#") #{t['Action']}
                            li
                                a(href="#") #{t['Another action']}
                            li
                                a(href="#") #{t['Something else here']}
                            li.divider
                            li
                                a(href="#") #{t['Separated link']}
                    .btn-group
                        a.btn.btn-warning(href="#") #{t['Warning']}
                        a.btn.btn-warning.dropdown-toggle(href="#", data-toggle="dropdown")
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="#") #{t['Action']}
                            li
                                a(href="#") #{t['Another action']}
                            li
                                a(href="#") #{t['Something else here']}
                            li.divider
                            li
                                a(href="#") #{t['Separated link']}
            p.bs-component
                a.btn.btn-primary.btn-lg(href="#") #{t['Large button']}
                | &nbsp;
                a.btn.btn-primary(href="#") #{t['Default button']}
                | &nbsp;
                a.btn.btn-primary.btn-sm(href="#") #{t['Small button']}
                | &nbsp;
                a.btn.btn-primary.btn-xs(href="#") #{t['Mini button']}
                | &nbsp;
        .col-lg-6
            p.bs-component
                a.btn.btn-default.btn-lg.btn-block(href="#") #{t['Block level button']}
            .bs-component(style="margin-bottom: 15px;")
                .btn-group.btn-group-justified
                    a.btn.btn-default(href="#") #{t['Left']}
                    a.btn.btn-default(href="#") #{t['Middle']}
                    a.btn.btn-default(href="#") #{t['Right']}
            .bs-component(style="margin-bottom: 15px;")
                .btn-toolbar
                    .btn-group
                        a.btn.btn-default(href="#") 1
                        a.btn.btn-default(href="#") 2
                        a.btn.btn-default(href="#") 3
                        a.btn.btn-default(href="#") 4
                    .btn-group
                        a.btn.btn-default(href="#") 5
                        a.btn.btn-default(href="#") 6
                        a.btn.btn-default(href="#") 7
                    .btn-group
                        a.btn.btn-default(href="#") 8
                        .btn-group
                            a.btn.btn-default.dropdown-toggle(href="#", data-toggle="dropdown")
                                | #{t['Dropdown']}
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href="#") #{t['Dropdown link']}
                                li
                                    a(href="#") #{t['Dropdown link']}
                                li
                                    a(href="#") #{t['Dropdown link']}
            .bs-component
                .btn-group-vertical
                    a.btn.btn-default(href="#") #{t['Button']}
                    a.btn.btn-default(href="#") #{t['Button']}
                    a.btn.btn-default(href="#") #{t['Button']}
                    a.btn.btn-default(href="#") #{t['Button']}
