- var n =0
.bs-docs-section
    .row
        .col-lg-12
            .page-header
                h1#tables #{t['Tables']}
            .bs-component
                table.table.table-striped.table-hover
                    thead
                        tr
                            th #
                            th #{t['Column heading']}
                            th #{t['Column heading']}
                            th #{t['Column heading']}
                    tbody
                        tr
                            td 1
                            td #{t['Column content']}
                            td #{t['Column content']}
                            td #{t['Column content']}
                        tr
                            td 2
                            td #{t['Column content']}
                            td #{t['Column content']}
                            td #{t['Column content']}
                        tr.info
                            td 3
                            td #{t['Column content']}
                            td #{t['Column content']}
                            td #{t['Column content']}
                        tr.success
                            td 4
                            td #{t['Column content']}
                            td #{t['Column content']}
                            td #{t['Column content']}
                        tr.danger
                            td 5
                            td #{t['Column content']}
                            td #{t['Column content']}
                            td #{t['Column content']}
                        tr.warning
                            td 6
                            td #{t['Column content']}
                            td #{t['Column content']}
                            td #{t['Column content']}
                        tr.active
                            td 7
                            td #{t['Column content']}
                            td #{t['Column content']}
                            td #{t['Column content']}
